$color-brand-primary: #F7D91A;
$color-brand-light: hsla(0, 100%, 90%, 0.817);
$color-brand-gradient: linear-gradient(#EB2226, ##faf1b6);
$color-tone-primary: hsl(154, 100%, 50%);
$color-tone-light: hsl(198, 86%, 86%);
$color-surface-primary: #EB2226;
$color-surface-secondary: #EB2226;
$color-surface-tertiary: #164880;
$color-surface-light: hsl(242, 15%, 89%);
$color-surface-superlight: hsl(246, 28%, 95%);
$color-red-primary: hsl(332, 73%, 53%);
$color-shadow-bold: 0 10px 50px -10px hsla(0, 0%, 0%, 0.2);
