$color-brand-primary: #F7D91A;
$color-brand-light: #f7d91a24;
$color-brand-gradient: linear-gradient(#F7D91A, #faf1b6);
$color-tone-primary: hsl(154, 100%, 50%);
$color-tone-light: hsl(0deg 0% 91.97%);
$color-surface-primary: #707070;
$color-surface-secondary: #F7D91A;
$color-surface-tertiary: #164880;
$color-surface-light: hsl(242, 15%, 89%);
$color-surface-superlight: hsl(246, 28%, 95%);
$color-red-primary: hsl(332, 73%, 53%);
$color-shadow-bold: 0 10px 50px -10px hsla(0, 0%, 0%, 0.2);
